<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Enseignant</h1>
                                </div>
                                <div *ngFor="let enseignant of listeEnseignats">
                                    <a href="/#/home-coding/enseignant/{{enseignant.id}}"
                                        class="btn btn-success btn-user btn-block">
                                        {{enseignant.name}}
                                    </a>
                                    <br/>
                                </div>
                              <br>
                              <br>
                              <div>
                                <a href="/#/home-coding/tp-creation/"
                                   class="btn btn-dark btn-user btn-block">
                                  Creer un TP
                                </a>
                                <br />
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Etudiants</h1>
                                </div>

                                <div *ngFor="let etudiant of listeEtudiants">
                                    <a href="/#/home-coding/etudiant/{{etudiant.id}}"
                                        class="btn btn-primary btn-user btn-block">
                                        {{etudiant.name}}
                                    </a>
                                    <br />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
